In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv('DATA\lifeexpectancydata.csv')

array(['afghanistan', 'albania', 'algeria', 'angola',
       'antigua and barbuda', 'argentina', 'armenia', 'australia',
       'austria', 'azerbaijan', 'bahamas', 'bahrain', 'bangladesh',
       'barbados', 'belarus', 'belgium', 'belize', 'benin', 'bhutan',
       'bolivia (plurinational state of)', 'bosnia and herzegovina',
       'botswana', 'brazil', 'brunei darussalam', 'bulgaria',
       'burkina faso', 'burundi', "c√¥te d'ivoire", 'cabo verde',
       'cambodia', 'cameroon', 'canada', 'central african republic',
       'chad', 'chile', 'china', 'colombia', 'comoros', 'congo',
       'cook islands', 'costa rica', 'croatia', 'cuba', 'cyprus',
       'czechia', "democratic people's republic of korea",
       'democratic republic of the congo', 'denmark', 'djibouti',
       'dominica', 'dominican republic', 'ecuador', 'egypt',
       'el salvador', 'equatorial guinea', 'eritrea', 'estonia',
       'ethiopia', 'fiji', 'finland', 'france', 'gabon', 'gambia',
       'georgia', 'germany', 'ghana', 'greece', 'grenada', 'guatemala',
       'guinea', 'guinea-bissau', 'guyana', 'haiti', 'honduras',
       'hungary', 'iceland', 'india', 'indonesia',
       'iran (islamic republic of)', 'iraq', 'ireland', 'israel', 'italy',
       'jamaica', 'japan', 'jordan', 'kazakhstan', 'kenya', 'kiribati',
       'kuwait', 'kyrgyzstan', "lao people's democratic republic",
       'latvia', 'lebanon', 'lesotho', 'liberia', 'libya', 'lithuania',
       'luxembourg', 'madagascar', 'malawi', 'malaysia', 'maldives',
       'mali', 'malta', 'marshall islands', 'mauritania', 'mauritius',
       'mexico', 'micronesia (federated states of)', 'monaco', 'mongolia',
       'montenegro', 'morocco', 'mozambique', 'myanmar', 'namibia',
       'nauru', 'nepal', 'netherlands', 'new zealand', 'nicaragua',
       'niger', 'nigeria', 'niue', 'norway', 'oman', 'pakistan', 'palau',
       'panama', 'papua new guinea', 'paraguay', 'peru', 'philippines',
       'poland', 'portugal', 'qatar', 'republic of korea',
       'republic of moldova', 'romania', 'russian federation', 'rwanda',
       'saint kitts and nevis', 'saint lucia',
       'saint vincent and the grenadines', 'samoa', 'san marino',
       'sao tome and principe', 'saudi arabia', 'senegal', 'serbia',
       'seychelles', 'sierra leone', 'singapore', 'slovakia', 'slovenia',
       'solomon islands', 'somalia', 'south africa', 'south sudan',
       'spain', 'sri lanka', 'sudan', 'suriname', 'swaziland', 'sweden',
       'switzerland', 'syrian arab republic', 'tajikistan', 'thailand',
       'the former yugoslav republic of macedonia', 'timor-leste', 'togo',
       'tonga', 'trinidad and tobago', 'tunisia', 'turkey',
       'turkmenistan', 'tuvalu', 'uganda', 'ukraine',
       'united arab emirates',
       'united kingdom of great britain and northern ireland',
       'united republic of tanzania', 'united states of america',
       'uruguay', 'uzbekistan', 'vanuatu',
       'venezuela (bolivarian republic of)', 'viet nam', 'yemen',
       'zambia', 'zimbabwe'], dtype=object)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country                          2938 non-null   object
 1   year                             2938 non-null   int64
 2   status                           2938 non-null   object
 3   life expectancy                  2928 non-null   float64
 4   adult mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   hepatitis b                      2385 non-null   float64
 9   measles                          2938 non-null   int64
 10  bmi                              2904 non-null   float64
 11  polio                            2919 non-null   float64
 12  total expenditure                2712 non-null   float64
 13  diphtheria                       2919 non-null   float64
 14  hiv/aids                         2938 non-null   float64
 15  gdp                              2490 non-null   float64
 16  population                       2286 non-null   float64
 17  thinness  1-19 years             2904 non-null   float64
 18  thinness 5-9 years               2904 non-null   float64
 19  income composition of resources  2771 non-null   float64
 20  schooling                        2775 non-null   float64
dtypes: float64(16), int64(3), object(2)
memory usage: 482.1+ KB

In [5]:
Afghanistan = df[df['Country']=='Afghanistan'] 
df.groupby(['Year'])[['Life expectancy', 'Adult Mortality',
       'infant deaths','under-five deaths']].mean()

KeyError: 'Country'

In [ ]:
filtered_df = df[df['Country'].isin(['United Arab Emirates','United Kingdom of Great Britain and Northern Ireland'])]
filtered_df.groupby('Year')[['Alcohol','Life expectancy']].mean().loc[2000]

Alcohol             6.115
Life expectancy    76.000
Name: 2000, dtype: float64

In [ ]:
df[['percentage expenditure','Adult Mortality']].corr()

                        percentage expenditure  Adult Mortality
percentage expenditure                 1.00000         -0.24286
Adult Mortality                       -0.24286          1.00000

In [ ]:
developed=df[df['status']=='developed']
developing = df[df['status']=='developing']

,country,year,status,life expectancy,adult mortality,infant deaths,alcohol,percentage expenditure,hepatitis b,measles,...,polio,total expenditure,diphtheria,hiv/aids,gdp,population,thinness 1-19 years,thinness 5-9 years,income composition of resources,schooling
0,afghanistan,2015,developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,afghanistan,2014,developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,afghanistan,2013,developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,afghanistan,2012,developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,afghanistan,2011,developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,zimbabwe,2004,developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,zimbabwe,2003,developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,zimbabwe,2002,developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,zimbabwe,2001,developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,zimbabwe,2000,developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [ ]:
developing_country = df[df['status']=='developing']
avg_mortality = developing_country.groupby('year')[['adult mortality','percentage expenditure']].mean().reset_index()
avg_mortality

    year  adult mortality  percentage expenditure
0   2000       200.496689              172.127397
1   2001       193.158940              193.352604
2   2002       189.443709              208.719722
3   2003       187.609272              274.811662
4   2004       207.834437              308.140430
5   2005       184.172185              371.449443
6   2006       186.695364              261.189536
7   2007       177.589404              347.608217
8   2008       195.172185              420.268478
9   2009       181.754967              319.873865
10  2010       180.370861              354.663502
11  2011       175.788079              371.690281
12  2012       165.258278              564.080343
13  2013       166.165563              483.984081
14  2014       164.430464              510.045841
15  2015       169.390728                2.889105

In [8]:
corr_mortality_expenditure = developing_country.groupby('year')[['adult mortality','percentage expenditure']].corr().reset_index()
corr_mortality_expenditure

    year                 level_1  adult mortality  percentage expenditure
0   2000         adult mortality         1.000000               -0.204244
1   2000  percentage expenditure        -0.204244                1.000000
2   2001         adult mortality         1.000000               -0.271592
3   2001  percentage expenditure        -0.271592                1.000000
4   2002         adult mortality         1.000000               -0.232167
5   2002  percentage expenditure        -0.232167                1.000000
6   2003         adult mortality         1.000000               -0.201693
7   2003  percentage expenditure        -0.201693                1.000000
8   2004         adult mortality         1.000000               -0.250672
9   2004  percentage expenditure        -0.250672                1.000000
10  2005         adult mortality         1.000000               -0.200340
11  2005  percentage expenditure        -0.200340                1.000000
12  2006         adult mortality         1.000000               -0.179372
13  2006  percentage expenditure        -0.179372                1.000000
14  2007         adult mortality         1.000000               -0.164980
15  2007  percentage expenditure        -0.164980                1.000000
16  2008         adult mortality         1.000000               -0.206407
17  2008  percentage expenditure        -0.206407                1.000000
18  2009         adult mortality         1.000000               -0.237079
19  2009  percentage expenditure        -0.237079                1.000000
20  2010         adult mortality         1.000000               -0.194506
21  2010  percentage expenditure        -0.194506                1.000000
22  2011         adult mortality         1.000000               -0.217881
23  2011  percentage expenditure        -0.217881                1.000000
24  2012         adult mortality         1.000000               -0.256525
25  2012  percentage expenditure        -0.256525                1.000000
26  2013         adult mortality         1.000000               -0.228061
27  2013  percentage expenditure        -0.228061                1.000000
28  2014         adult mortality         1.000000               -0.223308
29  2014  percentage expenditure        -0.223308                1.000000
30  2015         adult mortality         1.000000               -0.062994
31  2015  percentage expenditure        -0.062994                1.000000

In [10]:
df.groupby('year')['population'].agg('sum').reset_index()

    year    population
0   2000  4.145742e+09
1   2001  4.255115e+09
2   2002  4.111145e+09
3   2003  3.912207e+09
4   2004  3.706598e+09
5   2005  3.951491e+09
6   2006  3.508473e+09
7   2007  3.967115e+09
8   2008  3.757510e+09
9   2009  3.729857e+09
10  2010  4.254391e+09
11  2011  4.081799e+09
12  2012  4.272569e+09
13  2013  4.287227e+09
14  2014  4.355075e+09
15  2015  4.340917e+09